<div class="card">

  <div class="card-header">
    <a class="float-left btn btn-dark btn-sm-2" [routerLink]="['/product-add']">Добавить товар</a>
  </div>

  <div class="card-body">
    <div>
      <table class="table table-striped table-bordered">

        <thead>
        <tr class="d-flex bg-primary text-white">
          <th class="col-sm-1">#</th>
          <th class="col-sm-7">Наименование</th>
          <th class="col-sm-2">Цена</th>
          <th class="col-sm-2 text-center">Действие</th>
        </tr>
        </thead>

        <tbody>
        <tr class="d-flex">
          <td class="col-sm-1">1</td>
          <td class="col-sm-7">Наименование</td>
          <td class="col-sm-2">100</td>
          <td class="col-sm-2" align="center">
            <a [routerLink]="['/product-add']"
               class="text-info"
               data-toggle="tooltip"
               title="Просмотр">
              <i class="fa fa-fw fa-info-circle"></i></a> |

            <a [routerLink]="['/product-add']"
               class="text-primary"
               data-toggle="tooltip"
               title="Редактировать">
              <i class="fa fa-fw fa-edit"></i></a> |

            <a [routerLink]="['/product-add']"
               class="text-danger"
               data-toggle="tooltip"
               title="Удалить">
              <i class="fa fa-fw fa-trash"></i></a>
          </td>
        </tr>
        </tbody>

      </table>

    </div>
  </div>

</div>
